@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
  --color-primary: #7D863F;
  --color-secondary: #ECEFD5;
  --color-secondary-back: #ECEFD54F;
  --color-local-team: #85CBE9;
  --color-proj-mngr: #A467A9;
  --color-contributor: #B4D597;
  --shadow-profile: 0px 4px 12px 3px rgba(24, 24, 27, 0.10);
}

.bg-position-icon {
  background-position: 0.4rem 50%;
}